<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Gwendolyn:wght@700&family=Lora&display=swap"
        rel="stylesheet">
    <link href="/assets/css/material-icons.css" rel="stylesheet">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png">
    <!-- <link rel="stylesheet" href="/assets/css/reset.css"> -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/main.js"></script>
    {% feed_meta %}
    {% seo %}
</head>

<body>

    {{ content }}

    <footer>

    </footer>
</body>

</html>